@import 'nullstyle.scss';

@import 'promo.scss';

@import 'what.scss';

@import 'news.scss';

@import 'end.scss';

@import 'footer.scss';

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

.title {
	color: #445161;
	font-size: 30px;
}


